._line-calculator {
    border: 2px solid #767d887d;
    margin: 10px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-top: none;
    margin-top: -48px;
    border-radius: 0 0 100px 50%/18px;
}

.__line-icon {
    background-color: #473833;
    height: 26px;
    width: 2px;
    position: relative;
    left: 25px;
}

.__line-icon-midle {
    background-color: #473833;
    height: 26px;
    width: 2px;
    position: relative;
    left: 57px;
    top: -25px;
}

.__line-icon-last {
    background-color: #473833;
    height: 26px;
    width: 2px;
    position: relative;
    left: 89px;
    top: -52px;
}

._input-calculator {
    background-color: #9ea39d;
    height: 100px;
    border: 8px solid #000000;
    border-radius: 8px;
    width: 80%;
    font-family: 'digital-calculator';
    font-size: 40px;
    color: #545c61;
    padding: 10px;
    font-weight: 400;
}

._calculator {
    border-radius:15px;
    background-color: #cccccc;
    box-shadow: 0px 0px 0 2px #65656582;
    margin-top: 100px;
    width:400px;
    margin: auto;
}

@font-face {
    font-family: 'digital-calculator';
    src: url('fonts/DS-DIGI.TTF');
}

._btn-functions {
    border: none;
    border-radius: 100%;
    color: #fff;
    padding: 5px;
    height: 39px;
    margin: 5px;
    background-color: #000;
    width: 50px;
}

._btn-on-off {
    background-color: #89435b;
}

._btn-numbers {
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 30px;
    width: 50px;
    margin: 5px;
    border-radius: 5px;;
}

._icon-side {
    background-color: #30211c;
    width: 120px;
    height: 30px;
    position: relative;
    left: 220px;
    bottom: 20px;
    border: 2px solid #000;
    border-radius: 5px;
}